*{
    padding :0;
    margin:0 ;
    box-sizing: border-box;

    
}
body {
    min-width:100% ;
    min-height: 100vh;;
    display :flex ;
    justify-content: center;
    align-items: center;
    background-color: #f3eae3;
    color: #626264;
}
.card{
    display :flex ;
    width:35%;
    height:50vh;
    border-radius: 10px;
    background-color: #fff;
}
.image img {
    width:100%;
    height:100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;;

}
.image {
    width:50%;
    height:100%;   
}
.content{
    display :flex ;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;;
    width:50%;
}
.bold{
    font-weight: bolder;
    font-size:2em;
    color:#000;
}
.colored {
    color:#41816a;
    font-weight: bolder;
    font-size:2em;
    margin-right: 20px;;
}
.price{
    display: flex;
    align-items: center;  
}
.cart{
    background-color: #41816a;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    border-radius: 5px;

}
.cart a{
    text-decoration:none;
    color:#fff;
}
.hidden{
    display: none;
}
@media (max-width: 767px) {
   .card{
      width:80%;
      height:70vh;
      flex-direction: column;
   }
   .content {
    width:100%;
    height:60%;
   }
  
   .image{
    width:100%;
    height:40%;

   
   }
   .image img {
     width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
   }
}